:host {
  display: flex;
  flex-direction: column; /* Vertical layout of elements */
  min-height: 100vh;
  max-height: 100vh; /* Screen height limit */
  overflow: hidden; /* Hides overflow content */
  background: #021b2b;
}

app-header {
  flex-shrink: 0; /* Ensures header doesn't shrink */
}

router-outlet, app-game-board {
  flex-grow: 1; /* Ensures content takes all available space */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Additionally hides overflow content */
}