<div class="auth-container">
    <h2>{{ isLoginMode ? 'Login to TETRIS' : 'Register for TETRIS' }}</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="username">Name: </label>
        <input type="text" id="username" [(ngModel)]="username" name="username" required />
      </div>
      <div>
        <label for="password">Password: </label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required />
      </div>
      <div *ngIf="!isLoginMode">
        <label for="avatar">Choose avatar:</label>
        <div class="avatar-list">
          <span 
            *ngFor="let avatar of avatars" 
            [class.selected]="avatar === selectedAvatar" 
            (click)="selectedAvatar = avatar">
            {{ avatar }}
          </span>
        </div>
      </div>
      <button type="submit">{{ isLoginMode ? 'Login' : 'Register' }}</button>
    </form>
  
    <p class="message" *ngIf="message">{{ message }}</p>
  
    <button class="toggle-button" (click)="toggleMode()">
      {{ isLoginMode ? 'Register' : 'Return to login' }}
    </button>
  </div>